.container{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container:after{
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 550px) {
    .container{
        width: 80%;
    }
}